################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs/PipeInfo/FileContentIndex/f26db953-2900-465e-a706-b2076437d230.vsidx
/.vs/PipeInfo/FileContentIndex/c96ca4ec-3ef3-4316-a949-94f627a430a6.vsidx
